extends layout

block content
    .card
        img.card-img-top(src="/imgs/pomodoro.jpg", alt="Pomodoro")
        .card-body
            h5.card-title.text-center Welcome!
            p.card-text Start using us to keep track of your most important projects
            .text-center
                a.btn.btn-danger(href="/register") Sign up
